/* font-family: 'Luckiest Guy', cursive;
font-family: 'Righteous', cursive; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.animal-container {
  display: flex;
  flex-wrap: wrap;
}

@keyframes spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
}
.invisible-btn {
  background-color: transparent;
  border: none;
}

/* animal-pics */

.animal-pic {
  width: 15vw;
}

.clicked {
  width: 15vw;
  animation: spin infinite 1s linear;
  background-image: url("/src/pics/yellow.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#duck,
#cat {
  width: 10vw;
}
